PORT=3001
NODE_ENV=development

# Database Config (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# JWT Authentication
JWT_SECRET="super-secret-key-change-in-production-123456!"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="super-secret-refresh-key-change-in-production-123456!"
JWT_REFRESH_EXPIRES_IN="7d"
